/*Get the Montserrat and Oxygen fonts from google
@import url(http://fonts.googleapis.com/css?family=Montserrat:700|Oxygen:300);


/* apply a natural box layout model to all elements */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.chromeframe {
  position: absolute;
  top: 0; }

body, select, input, textarea {
  color: #443333; }

a {
  color: #440044; }

a:hover {
  color: #880088; }

a:active {
  color: #fdd; }

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FFF;
  color: #fff;
  text-shadow: none; }

/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700; }

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a9a9a9; }

textarea:-moz-placeholder {
  color: #a9a9a9; }

html {
  height: 100%;
  background-color: black; }

body {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

/* Scenes are the individual pages, they are a div with two children; the first being the fitimage friendly picture for the background
the other being the content branch, a div with appropriate children. */
.scene {
  height: 100%;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%; }

.scene img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: 1; }

.nav {
  position: fixed;
  text-align: center;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto auto 1em auto;
  right: 0;
  height: 1.5em; }

.nav li:before {
  content: attr(data-ref);
  position: absolute;
  width: 1rem;
  height: 2rem;
  padding: 0 .5em;
  top: -.25rem;
  left: -.3rem;
  background-color: white;
  border: thin solid black;
  opacity: .5;
  border-radius: 30%;
  box-shadow: inset 5px 4px 12px -3px #686; }

.nav li {
  position: relative;
  display: inline;
  color: #242;
  padding: 0 .45em;
  margin: 0 .25em;
  font-size: 1.5em;
  line-height: 1.5;
  background: none; }
  .nav li:first-child {
    margin-right: .1em; }

.nav li.selected:before {
  opacity: .7; }
