/* Scenes are the individual pages, they are a div with two children; the first being the fitimage friendly picture for the background
the other being the content branch, a div with appropriate children. */

.scene {
  position: relative;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%; }

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: 1; }

.scene-contents { /*Sizing for the actual content container */
  z-index:  500;
  position:  relative;
  width:  auto;
  height: auto;
  top:  25%;
  left:  25%; }