<% layout('../layouts/layout.ejs') -%>
<% block('title',  "Live, Share; Crispen Smith's Online Portfolio") -%>
<% block('description',  "Crispen Smith is passionate about the ways that the internet makes it possible for us to live our truths and share our stories.  Good design lies at the heart of this experience.") -%>
<section id="branches" class="scene" role="region" data-subject = "Live your truth, Share your Story">
  <div class = scene-contents>
    <header class="vh1_frame">
      <div class="shrinkwrap">
      <h1 class="title">Crispen Smith</h1>
      </div>
      <div class = "spacer">&nbsp;</div>
      <div class = "shrinkwrap">
      <blockquote class = "subtitle">Live your truth, share your story</blockquote>
      </div>
    </header>
    <div class = "vh2_frame">
      <h2 class="title">Foo</h2>
      <div class="scroller">
	  </div>

    </div>
  </div>
  <div data-picture data-alt="Green Moss on Branches of a Sambucus nigra" class="bg">
    <div data-src="/images/mossy-branch/small.jpg"></div>
    <div data-src="/images/mossy-branch/medium.jpg"     data-media="(min-width: 400px)"></div>
    <div data-src="/images/mossy-branch/medium_large.jpg"      data-media="(min-width: 800px)"></div>
    <div data-src="/images/mossy-branch/large.jpg" data-media="(min-width: 1000px)"></div>
    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
    <noscript>
      <img src="/images/mossy-branch/small.jpg" alt="Green Moss on Branches of a Sambucus nigra">
    </noscript>
  </div>
</section>
<section id= "trees" class= "scene" role="region" data-subject = "One Story, Many settings">
  <div class = scene-contents>
    <header class="vh1_frame">
      <div class="shrinkwrap">
        <h1 class="title">Responsiveness</h1>
      </div>
      <div class="spacer">&nbsp;</div>
      <div class="shrinkwrap">
      	<blockquote class = "subtitle">One Story, Many Settings</blockquote>
      </div>
    </header>
    <div class = "vh2_frame">
      <h2 class="title">Bar</h2>
      <div class="scroller">
	  </div>
    </div>
  </div>
  <div data-picture data-alt="mossy trunks in a forest" class="bg">
    <div data-src="/images/trees/small.jpg"></div>
    <div data-src="/images/trees/medium.jpg"     data-media="(min-width: 400px)"></div>
    <div data-src="/images/trees/medium_large.jpg"      data-media="(min-width: 800px)"></div>
    <div data-src="/images/trees/large.jpg" data-media="(min-width: 1000px)"></div>
    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
    <noscript>
      <img src="/imgs/small.jpg" alt="mossy trunks in a forest">
    </noscript>
  </div>
</section>
<section id= "board" class= "scene" role="region" data-subject = "Portfolio">
  <div class = scene-contents>
   <header class="vh1_frame">
      <div class="shrinkwrap">
        <h1 class="title">Portfolio</h1>
      </div>
      <div class="spacer">&nbsp;</div>
      <div class="shrinkwrap">
      	<blockquote class = "subtitle">Foo Bar</blockquote>
      </div>
    </header>
    <div class = "vh2_frame">
      <h2 class="title">Baz</h2>
      <div class="scroller">
	  </div>
    </div>
  </div>
  <div data-picture data-alt="integrated circuit board" class="bg">
    <div data-src="/images/board/small.jpg"></div>
    <div data-src="/images/board/medium.jpg"     data-media="(min-width: 400px)"></div>
    <div data-src="/images/board/medium_large.jpg"      data-media="(min-width: 800px)"></div>
    <div data-src="/images/board/large.jpg" data-media="(min-width: 1000px)"></div>
    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
    <noscript>
      <img src="external/imgs/small.jpg" alt="integrated circuit board">
    </noscript>
  </div>
</section>