<% layout('../layouts/layout.ejs') -%>
<% block('title',  "Live, Share; Crispen Smith's Online Portfolio") -%>
<% block('description',  "Crispen Smith is passionate about the ways that the internet makes it possible for us to live our truths and share our stories.  Good design lies at the heart of this experience.") -%>
<section id="branches" class="scene" role="region" data-subject = "Live your truth, Share your Story">
  <div class = scene-contents>
    <header class="vh1_frame">
      <h1 class="title">Crispen Smith</h1>
      <blockquote class = "subtitle">Live your truth, share your story</blockquote>
    </header>
    <div class = "vh2_frame">
      <h2 class="title">You have a story to share.</h2>
      <div class="scroller">
	    <p>Your story is driven by passion.  It is a collection of experiences and opportunities, triumphs; and sometimes tragedies.  Your story is uniquely yours, and it is what you bring to the world.</p>
	    <blockquote class = "subtitle">The world is a richer place because of your story.</blockquote>
	    <p>Your story might be about helping people, or teaching, or creating.  Your story might be about discovery, or family, or perfecting a craft.</p>
	    <blockquote class="subtitle">Your Life, Your Story</blockquote>
	    <p>With the torrent of new technologies coming at us, from the free distribution of data, to having the internet in your pocket, to 3D printing and digital painting, creating a rich story is easier than ever.  The price of that technology can be a vast forest of options to navigate; we have too many choices.  </p>
	    <p>And rather than telling your story, wouldn't you rather be living it?</p>
	    <blockquote class="subtitle">Live Your Truth</blockquote>
	    <p>As a creator, or a business, your first priority is creating as rich a story as possible.  Whether you are cooking world class street-food, photographing runways across North America or leading a design team to create bleeding edge games, your goal is to create a superior experience for your stake-holders. Living to that goal requires a singular focus; it is your central truth.</p>
	    <blockquote class= "subtitle">Share Your Story</blockquote>
	    <p>Your story is important, but so is turning it into a revenue stream.  That process requires connecting with people, getting them invested in what you are doing and giving them tools to help build your story.  My story is about building those tools and forging those connections.  By creating an organic, growing, brand together we can make those connections, build relationships and empower you to live your truth, and share your story.</p>
	  </div>
    </div>
  </div>
  <div data-picture data-alt="Green Moss on Branches of a Sambucus nigra" class="bg">
    <div data-src="/images/mossy-branch/small.jpg"></div>
    <div data-src="/images/mossy-branch/medium.jpg"     data-media="(min-width: 400px)"></div>
    <div data-src="/images/mossy-branch/medium_large.jpg"      data-media="(min-width: 800px)"></div>
    <div data-src="/images/mossy-branch/large.jpg" data-media="(min-width: 1000px)"></div>
    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
    <noscript>
      <img src="/images/mossy-branch/small.jpg" alt="Green Moss on Branches of a Sambucus nigra">
    </noscript>
  </div>
</section>
<section id= "trees" class= "scene" role="region" data-subject = "One Story, Many settings">
  <div class = scene-contents>
    <header class="vh1_frame">
      <h1 class="title">Responsiveness</h1>
      <blockquote class = "subtitle">One Story, Many Settings</blockquote>
    </header>
    <div class = "vh2_frame">
      <h2 class="title">The Internet is Everywhere.</h2>
      <div class="scroller">
	    <p>One of the great joys of sharing your story online is that the internet really is everywhere. Today, smartphones, tablets, lap top computers and desktop computers are all touching the internet on a regular basis. We are always in contact with our stories. Wherever you are, wherever the people you are connecting with are, that's where the connection is happening.</p>
	    <blockquote class = "subtitle">We are always sharing.</blockquote>
	    <p>But every device creates a different way to touching a website. Smartphones are very convenient, but have a very small screen. Your television might not be as convenient but it can provide a very deep viewing experience.  Because of this, in the last few years a lot of very smart people have been talking about an idea called RWD or Responsive Web Design.  RWD is the key to sharing your story today.  It's a simple idea; make the experience of your story, rather than the design of your site, the same on every device.</p>
	    <blockquote class="subtitle">The Experience of Your Story</blockquote>
	    <p>When we talk about the experience of your story, what we are talking about is key visual elements and content.  Content is the heart of your story.  Whether that content is visual, or audio, or text good RDW presents it to it's best advantage in every context.  By the way, no matter what, your content is text.</p>
	  </div>
    </div>
  </div>

    <div data-picture data-alt="mossy trunks in a forest" class="bg">
        <div data-src="/images/trees/small.jpg"></div>
        <div data-src="/images/trees/medium.jpg"     data-media="(min-width: 400px)"></div>
        <div data-src="/images/trees/medium_large.jpg"      data-media="(min-width: 800px)"></div>
        <div data-src="/images/trees/large.jpg" data-media="(min-width: 1000px)"></div>

        <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
        <noscript>
            <img src="external/imgs/small.jpg" alt="mossy trunks in a forest">
        </noscript>
    </div>
    <div class = scene-contents>
    <segment {position: relative z-index: 1; } >
    </segment>
     
    </div>
</div>

<div id= "board" class= "scene">
    <div data-picture data-alt="integrated circuit board" class="bg">
        <div data-src="/images/board/small.jpg"></div>
        <div data-src="/images/board/medium.jpg"     data-media="(min-width: 400px)"></div>
        <div data-src="/images/board/medium_large.jpg"      data-media="(min-width: 800px)"></div>
        <div data-src="/images/board/large.jpg" data-media="(min-width: 1000px)"></div>

        <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
        <noscript>
            <img src="external/imgs/small.jpg" alt="integrated circuit board">
        </noscript>
    </div>
    <div class = scene-contents>
    <segment {position: relative z-index: 1; } >
    </segment>
     
    </div>
</div>